<h1>What is this?</h1>
<p>This is my quest to find the most bootylicious senator. Well, it's more of a public service.</p>
<p>This edition of Most Bootylicious Senator is scoping out the Senate of the 114th United States Congress and will run until January 3, 2017.</p>

<h1>Dude, why?</h1>
<p>Mainly as a project to teach myself Rails that was more interesting than an eBay clone. (It's a seriously solid framework and I recommend it.) Plus, I've always wondered if the rest of the world thinks Barbara Mikulski is as much of a fly mutha as I do.</p>

<h1>How is the bootyliciousness calculated?</h1>
<p>You'll be presented with two randomly selected senators at a time. Your job is to choose which one is more bootylicious and which one is more bootylacking.</p>
<p>Each senator began with a score of zero. In each "battle," the senator deemed most bootylicious earns one badonkadonk point and the loser loses a point. Over time, the most bootylicious senators will rise to the top with high scores and the most bootylacking will sink to the bottom with negative scores.</p>
<p>Please do not let gender, state, or party affect your vote, to allow the truly finest derrieres to emerge victorious.</p>

<h1>I am a senator about to give a speech to my constituents. May I cite your findings to show those broads how fierce I am?</h1>
<p>Make sure to mention the fact that <a href="http://twitter.com/theycallmezeal">I'm on Twitter</a>.