<!DOCTYPE html>
<html>
	<head>
		<title>Most Bootylicious Senator</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<%= stylesheet_link_tag "style" %>
	</head>
	<body>
		<header>
			<p><img alt="Most" src="images/most.png"><img alt="Bootylicious" src="images/bootylicious.png"><img alt="Senator" src="images/senator.png"></p>
		</header>
		<nav>
			<ul>
				<li><a href="/vote">Vote</a></li>
				<li><a href="/stats">Stats</a></li>
				<li><a href="/about">About</a></li>
			</ul>
		</nav>
		<main>
			<%= yield %>
		</main>
	</body>
</html>