<!DOCTYPE html>
<html>
	<head>
		<title>Most Bootylicious Senator</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
		<%= stylesheet_link_tag "style" %>
	</head>
	<body>
		<%= yield %>
	</body>
</html>